= t("interpolated_#{key}", default: "this should be shown as an error")
= I18n.t(:symbols_work)

= t('this.exists_in_default_locale.and_specifies_a_default_value.and_hasnt_changed.and_exist_in_other_locale', default:'default_1')
= t('this.exists_in_default_locale.and_specifies_a_default_value.and_hasnt_changed.and_deosnt_exist_in_other_locale', default:'default_2')
= t('this.exists_in_default_locale.and_specifies_a_default_value.and_has_changed.and_exist_in_other_locale', default:'default_3')
= t('this.exists_in_default_locale.and_specifies_a_default_value.and_has_changed.and_deosnt_exist_in_other_locale', default:'default_4')
= t('this.exists_in_default_locale.and_doesnt_specifies_a_default_value.and_exist_in_other_locale')
= t('this.exists_in_default_locale.and_doesnt_specifies_a_default_value.and_deosnt_exist_in_other_locale')

= t('this.doesnt_exist_in_default_locale.and_specifies_a_default_value.and_exist_in_other_locale', default:'default_5')
= t('this.doesnt_exist_in_default_locale.and_specifies_a_default_value.and_deosnt_exist_in_other_locale', default:'default_6')
= t('this.doesnt_exist_in_default_locale.and_doesnt_specifies_a_default_value.and_exist_in_other_locale')
= t('this.doesnt_exist_in_default_locale.and_doesnt_specifies_a_default_value.and_deosnt_exist_in_other_locale')
