= t("total_cost")
= t("total_cost")
= t("total_cost")
= t("key_with_scope"             , scope:"my_scope")
= t("key_with_default"           , default:"Kosten dieser Monat")
= t("key_with_default_and_params", default:"Kosten dieser %{count} Monat", count: 2)
= t(:are_you_sure_destroy_page)
